<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Aura</title>
    <!-- BOOTSTRAP -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <!-- FONTAWESOME -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css">
    <!-- GOOGLE FONTS -->
    <link href="https://fonts.googleapis.com/css?family=Nunito+Sans|Poppins" rel="stylesheet">
    <!-- CSS -->
    <link rel="stylesheet" href="aura.css">
</head>

<body>
    <section id="first-section">
        <div class="main-navbar">
            <h3>
                <i class="fab fa-asymmetrik"></i> Aura
            </h3>
            <div class="list-of-links">
                <ul>
                    <a href="#">Pocetna</a>
                    <a href="#">Poslovi</a>
                    <a href="#">Utisci</a>
                    <a href="#">Kontakt</a>
                </ul>
            </div>
        </div>
        <img class="img-responsive" src="img/image1.jpg" alt="">

        <div class="first-section-content">
            <h2>Ako zelite stabilan posao i dobru zaradu...</h3>
            <h4>Prijavite se na nas sajt nudimo prava resenja</h5>
            <a href="#" class="">Detaljnije</a>
        </div>

    </section>
</body>

</html>