<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Aura</title>
    <!-- BOOTSTRAP -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <!-- FONTAWESOME -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css">
    <!-- GOOGLE FONTS -->
    <link href="https://fonts.googleapis.com/css?family=Nunito+Sans|Poppins" rel="stylesheet">
    <!-- CSS -->
    <link rel="stylesheet" href="aura.css">
</head>

<body>
    <section id="first-section">
        <img class="img-responsive" src="img/image1.jpg" alt="">
        <div class="main-navbar">
            <h3>
                <i class="fab fa-asymmetrik"></i> Aura
                <span>Group</span>
            </h3>
            <div class="list-of-links">
                <ul>
                    <a href="#first-section">Pocetna</a>
                    <a href="#second-section">O nama</a>
                    <a href="#third-section">Utisci</a>
                    <a href="#fourth-section">Poslovi</a>
                    <a href="#">Kontakt</a>
                </ul>
            </div>
        </div>

        <div class="first-section-content">
            <h2>Ako zelite stabilan posao i dobru zaradu...</h3>
                <h4>Prijavite se na nas sajt nudimo prava resenja</h5>
                    <a href="#">Detaljnije</a>
        </div>
        <div class="arrow">
            <a id="arrow-btn" href="#">
                <i class="fas fa-angle-double-down"></i>
            </a>
        </div>
        <div class="logo">
            <i class="fab fa-asymmetrik"></i>
        </div>
    </section>
    <section id="second-section">
        <div class="second-section-box">
            <div class="second-section-content-1">
                <h2>Pronadjite posao iz snova!</h2>
                <h4>Pridruzite se Aura kompaniji.</h4>
                <i class="fas fa-ellipsis-h"></i>
            </div>
            <div class="second-section-content-2">
                <p>
                    <strong>Ko smo mi? </strong>
                </p>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
                    magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
                    commodo consequat.</p>
            </div>
            <hr>
            <div class="second-section-content-3">
                <div class="row">
                    <div class="col-md-6">
                        <p>
                            <strong>Sta trazimo?</strong>
                        </p>
                        <p>- Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore
                            et dolore magna aliqua.</p>
                        <p>- Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi.</p>
                    </div>
                    <div class="col-md-6">
                        <p>
                            <strong>Mozete ocekivati</strong>
                        </p>
                        <p>- At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum
                            deleniti.
                        </p>
                        <p>- Nemo enim ipsam voluptatem quia voluptas odit aut fugit, sed quia consequuntur magni dolores eos
                            qui ratione voluptatem sequi nesciunt.</p>
                        <p>- Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet.</p>
                        <p>- Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis.</p>
                    </div>
                </div>
            </div>
            <hr>
            <div class="second-section-content-4">
                <p>
                    <strong>Postanite deo naseg tima</strong>
                </p>
                <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem
                    aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.
                    Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni
                    dolores eos qui ratione voluptatem sequi nesciunt error sit voluptatem accusantium doloremque laudantium.</p>
            </div>
        </div>
    </section>
    <section id="info">
        <div class="info-content">
            <img src="img/info-image.jpeg" alt="">
            <div class="info-content-box">
                <div class="info-content-1">
                    <h2>
                        <strong>Kontaktirajte nas na email
                            <span>auragroup@gmail.com</span>
                        </strong>
                    </h2>
                    <p>Nemo enim ipsam voluptatem quia voluptas odit aut fugit, sed quia consequuntur magni dolores eos qui
                        ratione voluptatem sequi nesciunt.</p>
                </div>
            </div>
        </div>
    </section>
    <section id="third-section">
        <div class="third-section-box">
            <div class="third-section-content-1">
                <h3>Utisci nasih
                    <span>saradnika</span>
                </h3>
                <i class="fas fa-ellipsis-h"></i>
            </div>
            <div class="third-section-content-2">
                <div class="row">
                    <div class="col-md-4">
                        <div class="card">
                            <p>
                                <strong>Ivan Radomirovic</strong>
                            </p>
                            <img src="img/person2.jpeg" alt="">
                            <p>
                                <span>Firma Group</span>
                            </p>
                            <div id="stars">
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                            </div>
                            <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium,
                                totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae
                                vitae dicta sunt explicabo.</p>
                            <div id="social-media">
                                <a href="#">
                                    <i class="fab fa-facebook-square"></i>
                                </a>
                                <a href="#">
                                    <i class="fab fa-linkedin"></i>
                                </a>
                                <a href="#">
                                    <i class="fab fa-instagram"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="card">
                            <p>
                                <strong>Strahinja Covic</strong>
                            </p>
                            <img src="img/person3.jpeg" alt="">
                            <p>
                                <span>Lasta Agency</span>
                            </p>
                            <div id="stars">
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="far fa-star"></i>
                            </div>
                            <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium,
                                totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae
                                vitae dicta sunt explicabo.</p>
                            <div id="social-media">
                                <a href="#">
                                    <i class="fab fa-facebook-square"></i>
                                </a>
                                <a href="#">
                                    <i class="fab fa-linkedin"></i>
                                </a>
                                <a href="#">
                                    <i class="fab fa-instagram"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="card">
                            <p>
                                <strong>Sladjana Paunovic</strong>
                            </p>
                            <img src="img/person1.jpeg" alt="">
                            <p>
                                <span>Fix D.O.O</span>
                            </p>
                            <div id="stars">
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                            </div>
                            <p> Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla
                                pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt
                                mollit anim id est laborum.</p>
                            <div id="social-media">
                                <a href="#">
                                    <i class="fab fa-facebook-square"></i>
                                </a>
                                <a href="#">
                                    <i class="fab fa-linkedin"></i>
                                </a>
                                <a href="#">
                                    <i class="fab fa-instagram"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div id="map"></div>
        </div>
    </section>
    <section id="fourth-section">
        <div class="fourth-section-box">
            <div class="fourth-section-content-1">
                <h3>Otvorene
                    <span>pozicije</span>
                </h3>
                <i class="fas fa-ellipsis-h"></i>
            </div>
            <div class="row">
                <div class="col-md-3">
                    <div class="job-card">
                        <a href="#">
                            <i class="fas fa-laptop-code"></i>
                        </a>
                        <h4>Front End Developer</h4>
                        <h6>Junior - Intermediate</h6>
                        <p>- Dobro poznavanje HTML, CSS, Bootstrap</p>
                        <p>- Iskustvo u radu sa JavaScript</p>
                        <p>- Poznavanje Ajax, DOM</p>
                        <p>- Poznavanje barem jednog JS framework-a</p>
                        <button>Prijavi se</button>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="job-card">
                        <a href="#">
                            <i class="fas fa-project-diagram"></i>
                        </a>
                        <h4>Project Manager</h4>
                        <h6>Senior</h6>
                        <p>- Dobro poznavanje HTML, CSS, Bootstrap</p>
                        <p>- Iskustvo u radu sa JavaScript</p>
                        <p>- Poznavanje Ajax, DOM</p>
                        <p>- Poznavanje barem jednog JS framework-a</p>
                        <button>Prijavi se</button>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="job-card">
                        <a href="#">
                            <i class="fas fa-check"></i>
                        </a>
                        <h4>QA Tester</h4>
                        <h6>Intermediate</h6>
                        <p>- Dobro poznavanje HTML, CSS, Bootstrap</p>
                        <p>- Iskustvo u radu sa JavaScript</p>
                        <p>- Poznavanje Ajax, DOM</p>
                        <p>- Poznavanje barem jednog JS framework-a</p>
                        <button>Prijavi se</button>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="job-card">
                        <a href="#">
                            <i class="fas fa-business-time"></i>
                        </a>
                        <h4>Business Developer</h4>
                        <h6>Senior</h6>
                        <p>- Dobro poznavanje HTML, CSS, Bootstrap</p>
                        <p>- Iskustvo u radu sa JavaScript</p>
                        <p>- Poznavanje Ajax, DOM</p>
                        <p>- Poznavanje barem jednog JS framework-a</p>
                        <button>Prijavi se</button>
                    </div>
                </div>
            </div>
            <div class="fourth-section-content-2">
                <p>
                    <strong>O nasim zaposlenim</strong>
                </p>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
                    magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
                    commodo consequat.</p>
            </div>
            <hr>
        </div>
    </section>
    <section id="fifth-section">
        <div class="fifth-section-box">
            <div class="fifth-section-content-1">
                <h3>Ako imate pitanja za nas?</h3>
                <h5>Kontaktirajte nas, tu smo da
                    <span>Vam</span> pomognemo!</h5>
                <i class="fas fa-ellipsis-h"></i>
            </div>
            <div class="fifth-section-content-2">
                <form action="" class="form">
                    <div class="row">
                        <div class="col-md-4">
                            <div class="form-group">
                                <label for="name">Name:</label>
                                <input class="form-control input" type="text" name="name" placeholder="* Name" required>
                            </div>

                            <div class="form-group">
                                <label for="desc">Description:</label>
                                <textarea class="form-control textarea" name="desc" id="" cols="152" rows="5" placeholder="* Description"></textarea>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label for="subject">Subject</label>
                                <input class="form-control input" type="text" name="subject" placeholder="* Subject" required>
                            </div>
                            <div class="form-group">
                                <label for="email">Email:</label>
                                <input class="form-control input" type="text" name="email" placeholder="* Email" required>
                            </div>
                            <button class="contact-btn">Send</button>
                        </div>
                        <div class="col-md-4">
                            <div class="contact-info">
                                <h4>
                                    <i class="fab fa-asymmetrik"></i>Aura Group</h4>
                                <i class="fas fa-ellipsis-h"></i>
                                <p>Bulevar Lorem Ipsum bb</p>
                                <p>11000 Beograd</p>
                                <p>+381 66 555 66 77</p>
                                <p><span>auragroup@gmail.com</span></p>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </section>

    <!-- JQUERY -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <!-- JS -->
    <script src="main.js"></script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyA_KW6f07SzYO6b-j-yfpPAZCsecewVbd4&callback=initMap" async
        defer></script>
</body>

</html>