* {
    font-family: 'Nunito Sans', sans-serif;
    padding: 0;
    margin: 0;
}

body, html {
    height: 100%;
}

.active {
    border-bottom: 2px solid #1988ff;
    
}

/* ============= */
/* FIRST SECTION */
/* ============= */

.main-navbar {
    width: 100%;
    height: 100px;
    background-color: rgba(0, 0, 0, 0.7);
    padding: 0 100px;
    position: fixed;
    top: 0;
    left: 0;
    /* box-shadow: 0 3px 5px rgba(57, 63, 72, 0.3); */
}

.main-navbar h3 {
    text-transform: uppercase;
    float: left;
    line-height: 100px;
    font-size: 30px;
    font-weight: 600;
    color: white;
}

.main-navbar h3 span {
    color: #1988ff;
}

.main-navbar h3 i {
    color: #1988ff;
}

.list-of-links {
    float: right;
}

.list-of-links ul a {
    text-decoration: none;
    text-transform: uppercase;
    color: White;
    padding: 10px;
    line-height: 100px;
    font-weight: 600;
    letter-spacing: 2px;
    font-size: 15px;
}

.list-of-links ul a:last-child {
    color: #1988ff;
}

.list-of-links ul a:last-child:hover {
    border-bottom: 2px solid white;
    transition: all .2s ease;
    -webkit-transition: all .2s ease;
}

.list-of-links ul a:hover {
    border-bottom: 2px solid #1988ff;
    transition: all .2s ease;
    -webkit-transition: all .2s ease;

}

#first-section img {
    width: 100%;
    height: 100vh;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    filter: brightness(40%);
}


.first-section-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.first-section-content h2 {
    text-transform: uppercase;
    margin-bottom: 50px;
    color: white;
    font-size: 2.5em;
}

.first-section-content h4 {
    color: white;
    font-size: 1.5em;
    text-transform: uppercase;
    margin-bottom: 70px;
}

.first-section-content a {
    text-decoration: none;
    padding: 13px 25px;
    color: white;
    font-size: 20px;
    background-color: rgba(25,136,255, 0.8);
    /* border-radius: 30px; */
}

.first-section-content a:hover {
    background-color: #1988ff;
    transition: all .6s ease;
    -webkit-transition: all .6s ease;
}

.arrow {
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translate(-50%);
    animation: 3s arrow infinite ease;
    -webkit-animation: 3s arrow infinite ease;
}


/* arrow down animation */

@keyframes arrow {
    0%, 100% {
        bottom: 0px;
    }
    50% {
        bottom: 20px;
    }
}

@-webkit-keyframes arrow {
    0%, 100% {
        bottom: 0px;
    }
    50% {
        bottom: 20px;
    }
}

/* -------------------- */


.arrow a {
    text-decoration: none;
}

.arrow a i {
    font-size: 40px;
    color: #1988ff;
}

.arrow a i:hover {
    /* color: rgba(25,136,255, 0.8); */
    color: white;
    font-size: 45px;
    transition: all .8s ease;
    -webkit-transition: all .8s ease;
}

.logo {
    position: fixed;
    bottom: 0;
    right: 0;
    margin-right: 20px;
    cursor: pointer;
}

.logo i {
    font-size: 50px;
    color: #1988ff;
}

/* ============= */
/* SECOND SECTION */
/* ============= */

#second-section {
    /* background-color: #f1f1f1; */
}

.second-section-box {
    padding: 150px 100px 150px 100px;
}

.second-section-content-1 {
    text-align: center;
    margin-bottom: 50px;
}

.second-section-content-2 {
    margin-bottom: 50px;
}

.second-section-content-1 h2 {
    text-transform: uppercase;
    font-size: 3em;
    margin-bottom: 50px;
}

.second-section-content-1 h4 {
    text-transform: uppercase;
    font-weight: 600;
    margin-bottom: 30px;
}

.second-section-content-1 i {
    font-size: 3em;
    color: #1988ff;
}

.second-section-content-2 p:first-child {
    font-size: 25px;
}

.second-section-box hr {
    height: 2px;
    background-color: rgba(25,136,255, 0.1);
    margin-bottom: 50px;
}

.second-section-content-3 {
    margin-bottom: 50px;
}

.second-section-content-3 p strong {
    font-size: 25px;
}

.second-section-content-4 p strong {
    font-size: 25px;
}

.info-content {
    height: 300px;
    width: 100%;
    position: relative;
    z-index: -1;
}

.info-content img {
    height: 300px;
    width: 100%;
    background-size: cover;
    background-position: center;
    object-fit: cover;
    object-position: 95% 95%;
    filter: brightness(40%);
}

.info-content-box {
    padding: 50px 100px;
}

.info-content-1 {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

}

.info-content-1 h2 {
    color: white;
    margin-bottom: 20px;
}

.info-content-1 h2 strong span {
    color: #1988ff;
}

.info-content-1 p {
    color: white;
    font-size: 20px;
}

/* ============= */
/* THIRD SECTION */
/* ============= */

.third-section-box {
    padding: 150px 100px;
    
}

.third-section-content-1 {
    text-align: center;
    margin-bottom: 50px;
}

.third-section-content-1 h3 {
    text-transform: uppercase;
    font-size: 2.5em;
    margin-bottom: 30px;
}

.third-section-content-1 h3 span {
    color: #1988ff;
}

.third-section-content-1 i {
    font-size: 3em;
    color: #1988ff;
}

.index {
    z-index: -1;
}


.card {
    padding: 35px;
    text-align: center;
    border: none;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    position: static;
    z-index: -1;

}

.card:hover {
    background-color: #f1f1f1;
    cursor: pointer;
    transition: all .4s ease;
    -webkit-transition: all .4s ease;
}

.card:hover p strong {
    color: #1988ff;
    transition: all .4s ease;
    -webkit-transition: all .4s ease;
}

.card:hover #stars i {
    color: gold;
    font-size: 20px;
    transition: all .4s ease;
    -webkit-transition: all .4s ease;
}

.card img {
    width: 100px;
    height: 100px;
    object-fit: cover;
    object-position: 60% 30%;
    margin: 0 auto;
    margin-bottom: 10px;
}

.third-section-content-2 {
    margin-bottom: 100px;
}

.third-section-content-2 p strong {
    font-size: 20px;
}

.third-section-content-2 p span {
    color: #1988ff;
    font-size: 18px;
}

.third-section-content-2 a i {
    font-size: 30px;
}

.fa-facebook-square {
    color: 	#3b5998;
}

.fa-facebook-square:hover {
    text-decoration: none;
}

.fa-facebook-square:hover {
    text-decoration: none;
}

.fa-instagram {
    color:  #e95950;
}

.fa-instagram:hover {
    text-decoration: none;
}

#stars {
    display: inline;
    margin-bottom: 20px;
}
#stars i {
    color: #1988ff;
}

#social-media {
    display: inline;
}

#social-media a {
    margin: 0 10px;
}

#map {
    height: 500px;
    width: 100%;
}

/* ============= */
/* FOURTH SECTION */
/* ============= */

#fourth-section {
    background-color: #f1f1f1;
}

.fourth-section-box {
    padding: 50px 100px;
    padding-top: 150px;
}

.fourth-section-content-1 {
    text-align: center;
    margin-bottom: 50px;
}

.fourth-section-content-1 h3 {
    text-transform: uppercase;
    font-size: 2.5em;
    margin-bottom: 30px;

}

.fourth-section-content-1 h3 span {
    color: #1988ff;
}

.fourth-section-content-1 i {
    color: #1988ff;
    font-size: 3em;
    margin-bottom: 50px;
}

.job-card {
    background-color: white;
    padding: 40px;
    text-align: center;
    width: 300px;
    height: 520px;

}

.col-md-6 {
    position: static;
}

.col-md-4 {
    position: static;
}
.col-md-3 {
    position: static;
}

.job-card a i {
    font-size: 50px;
    margin-bottom: 20px;
}

.job-card a:hover {
    text-decoration: none;
}

.job-card h4 {
    margin-bottom: 20px;
}

.job-card h6  {
    color: #1988ff;
    margin-bottom: 20px;
}

.job-card button {
    background-color: #1988ff;
    color: white;
    border: none;
    padding: 7px 15px;
    border-radius: 20px;
    margin-bottom: 10px;
}

.fourth-section-content-2 {
    margin: 100px 0;
    margin-bottom: 50px;
}

.fourth-section-content-2 p strong {
    font-size: 25px;
}

.fourth-section-box hr {
    height: 2px;
    background-color: rgba(25,136,255, 0.1);
}

/* ============= */
/* FIFTH SECTION */
/* ============= */

#fifth-section {
    /* background-color: #f1f1f1; */
}

.fifth-section-box {
    padding: 150px 100px;
}

.fifth-section-content-1 {
    text-align: center;
}

.fifth-section-content-1 h3 {
    text-transform: uppercase;
    margin-bottom: 50px;
    font-size: 2em;
}

.fifth-section-content-1 h5 {
    text-transform: uppercase;
    margin-bottom: 30px;
    font-size: 1.5em;
    font-weight: 600;
}

.fifth-section-content-1 h5 span {
    color: #1988ff;
}

.fifth-section-content-1 i {
    font-size: 3em;
    color: #1988ff;
    margin-bottom: 100px;
}

.form-group .input {
    height: 50px;
}

.contact-info {
    width: 100%;
    padding: 20px;
    text-align: center;
    margin-top: 20px;
}

.contact-info p span {
    color: #1988ff;
}

.contact-info h4 {
    font-size: 30px;
    text-transform: uppercase;
}

.contact-info h4 i {
    color: #1988ff;
}

.contact-info i {
    color: #1988ff;
    
}

.contact-info h4 span {
    color: #1988ff;
}

.contact-btn {
    padding: 15px;
    color: white;
    background-color: #1988ff;
    border: none;
    width: 100%;
    margin-top: 12px;

}

.fifth-section-3 {
    padding: 100px 0;
    padding-bottom: 50px;
    text-align: center;
}

.social-media-contact i {

    font-size: 40px;
    margin: 0 20px;
    cursor: pointer;
}

.fa-linkedin {
    color: #0e76a8;
}

.fa-twitter-square {
    color: #38A1F3;
}

.fa-youtube {
    color: #ED3833;
}

/* ============= */
/* FOOTER SECTION */
/* ============= */

#footer {
    background-color: rgba(0,0,0, 1);
}

.footer-box {
    padding: 100px 100px;
}

.footer-content-1 {
    text-align: center;
}

.footer-content-1 p {
    color: white;
    font-size: 20px;
}

.footer-content-1 p span {
    color: #1988ff;
}

.footer-content-1 i {
    color: #1988ff;
}