* {
    font-family: 'Nunito Sans', sans-serif;
    padding: 0;
    margin: 0;
}

body, html {
    height: 100%;
  }

.main-navbar {
    width: 100%;
    height: 100px;
    /* background-color: rgba(95,158,198); */
    background-color: rgba(0,123,255, 0.8);
    padding: 0 100px;
}

.main-navbar h3 {
    text-transform: uppercase;
    float: left;
    line-height: 100px;
    font-size: 30px;
    font-weight: 600;
    color: white;
}

#first-section img {
    width: 100%;
    height: 87.5vh;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    filter: brightness(30%);
    position: absolute;
    top: 100px;
    left: 0;
    z-index: -1;
}

.list-of-links {
    float: right;
}

.list-of-links ul a {
    text-decoration: none;
    text-transform: uppercase;
    color: White;
    padding: 10px;
    line-height: 100px;
    font-weight: 600;
    letter-spacing: 2px;
}

.list-of-links ul a:hover {
    border-bottom: 2px solid white;
    transition: all .4s ease;
    -webkit-transition: all .4s ease;

}

.first-section-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.first-section-content h2 {
    text-transform: uppercase;
    margin-bottom: 50px;
    color: white;
    font-size: 2.5em;
}

.first-section-content h4 {
    color: white;
    font-size: 1.5em;
    text-transform: uppercase;
    margin-bottom: 70px;
}

.first-section-content a {
    text-decoration: none;
    padding: 10px 20px;
    color: white;
    font-size: 20px;
    background-color: rgba(0,123,255, 0.9);
    border-radius: 30px;
}

.arrow {
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translate(-50%);
}

.arrow a {
    text-decoration: none;
}

.arrow a i {
    font-size: 40px;
    color: white;
}

.arrow a i:hover {
    color: rgba(0,123,255, 0.9);
    font-size: 45px;
    transition: all .8s ease;
    -webkit-transition: all .8s ease;
}