* {
    font-family: 'Nunito Sans', sans-serif;
    padding: 0;
    margin: 0;
}

body, html {
    height: 100%;
}


/* ============= */
/* FIRST SECTION */
/* ============= */

.main-navbar {
    width: 100%;
    height: 100px;
    background-color: rgba(0,0,0, 0.5);
    padding: 0 100px;
    position: fixed;
    top: 0;
    left: 0;
}

.main-navbar h3 {
    text-transform: uppercase;
    float: left;
    line-height: 100px;
    font-size: 30px;
    font-weight: 600;
    color: white;
}

#first-section img {
    width: 100%;
    height: 100vh;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    filter: brightness(30%);
}

.list-of-links {
    float: right;
}

.list-of-links ul a {
    text-decoration: none;
    text-transform: uppercase;
    color: White;
    padding: 10px;
    line-height: 100px;
    font-weight: 600;
    letter-spacing: 2px;
}

.list-of-links ul a:hover {
    border-bottom: 2px solid white;
    transition: all .2s ease;
    -webkit-transition: all .2s ease;

}

.first-section-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.first-section-content h2 {
    text-transform: uppercase;
    margin-bottom: 50px;
    color: white;
    font-size: 2.5em;
}

.first-section-content h4 {
    color: white;
    font-size: 1.5em;
    text-transform: uppercase;
    margin-bottom: 70px;
}

.first-section-content a {
    text-decoration: none;
    padding: 10px 20px;
    color: white;
    font-size: 20px;
    background-color: rgba(25,136,255, 0.8);
    border-radius: 30px;
}

.first-section-content a:hover {
    background-color: #1988ff;
    transition: all .6s ease;
    -webkit-transition: all .6s ease;
}

.arrow {
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translate(-50%);
}

.arrow a {
    text-decoration: none;
}

.arrow a i {
    font-size: 40px;
    color: white;
}

.arrow a i:hover {
    color: rgba(25,136,255, 0.8);
    font-size: 45px;
    transition: all .8s ease;
    -webkit-transition: all .8s ease;
}

/* ============= */
/* SECOND SECTION */
/* ============= */

#second-section {
    background-color: #f1f1f1;
}

.second-section-box {
    padding: 150px 100px;
}

.second-section-content-1 {
    text-align: center;
    margin-bottom: 50px;
}

.second-section-content-2 {
    margin-bottom: 50px;
}

.second-section-content-1 h2 {
    text-transform: uppercase;
    font-size: 3em;
    margin-bottom: 50px;
}

.second-section-content-1 h4 {
    text-transform: uppercase;
    font-weight: 600;
    margin-bottom: 50px;
}

.second-section-content-1 i {
    font-size: 3em;
    color: #1988ff;
}

.second-section-content-2 p:first-child {
    font-size: 25px;
}

.second-section-box hr {
    height: 2px;
    background-color: rgba(25,136,255, 0.2);
    margin-bottom: 50px;
}

.second-section-content-3 {
    margin-bottom: 50px;
}

.second-section-content-3 p strong {
    font-size: 25px;
}

/* .second-section-content-4 {
    margin-bottom: 50px;
} */

.second-section-content-4 p strong {
    font-size: 25px;
}

/* ============= */
/* THIRD SECTION */
/* ============= */

#third-section {
    background-color: #f1f1f1;
}

.third-section-box {
    padding: 50px 100px;
}

.third-section-content-1 {
    text-align: center;
    margin-bottom: 50px;
}

.third-section-content-1 h3 {
    text-transform: uppercase;
    font-size: 2.5em;
    margin-bottom: 50px;
}

.third-section-content-1 i {
    font-size: 3em;
    color: #1988ff;
}

.card {
    padding: 40px;
    text-align: center;
    border: none;
}

.card img {
    width: 100px;
    height: 100px;
    object-fit: cover;
    object-position: 60% 30%;
    margin: 0 auto;
    margin-bottom: 10px;
}

.third-section-content-2 {
    margin-bottom: 50px;
}

.third-section-content-2 p strong {
    font-size: 20px;
}

.third-section-content-2 p span {
    color: #1988ff;
    font-size: 18px;
}

.third-section-content-2 a i {
    font-size: 30px;
}

.fa-facebook-square {
    color: 	#3b5998;
}

.fa-instagram {
    color:  #e95950;
}

#stars {
    display: inline;
    margin-bottom: 20px;
}
#stars i {
    color: yellow;
}

#social-media {
    display: inline;
}

#social-media a {
    margin: 0 10px;
}